:root {
	--violet: #830ad1;
	--violet2: #930ad1;
	--violet3: rgba(129, 10, 209, 0.2);
	--black: #111111;
	--white: #ffffff;
	--wrapperPadding: 3vw;
}

.container {
	background-color: var(--white);
	font-family: sans-serif;
	color: var(--black);
}

.wrapper {
	padding: 0px var(--wrapperPadding);
}

/* nav {
	position: fixed;
	width: 100%;
	height: max(9vh, 60px);
	background-color: var(--white);
	display: flex;
	align-items: center;
} */

.nubank-logo {
	background: url(../svg/nubank-logo-white.svg) center no-repeat;
}

.bars-icon {
	background: url(../svg/fa-bars.svg) center no-repeat;
}

nav {
	/* position and size */
	position: fixed;
	width: 100%;
	height: max(9vh, 60px);
	/* display */
	display: flex;
	align-items: center;
}

.nav-icon {
	width: 3rem;
}

.nav-icon path {
	fill: var(--white);
}

.nav-logo {
	margin-right: 1.5rem;
}

.nav-logo .nubank-logo {
	margin-right: 1.5rem;
	fill: var(--white);
	/* logo size */
	height: 3rem;
	width: 3rem;
}

.nav-menu {
	display: flex;
	width: 3rem;
	height: 3rem;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
}

.nav-menu .bars-icon {
	height: 2rem;
	width: 2rem;
}

.nav-menu:hover {
	background-color: var(--violet3);
	transition: all ease 0.75s;
}

.nav-list {
	display: flex;
	height: 100%;
	width: fit-content;
}

.nav-list li {
	display: flex;
	padding-right: 1.5rem;
}

.nav-list li a {
	margin: auto;
}

.nav-buttons {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.nav-button {
	margin-left: 1.5rem;
}

.primary-button {
	color: var(--violet3);
}

.primary-button:hover {
	text-decoration: underline;
}

/* .signup-button {
	padding: 0.75rem 1.5rem;
	color: var(--white);
	background-color: var(--violet);
	border-radius: 2rem; 
} */

.signup-button {
	/* position */
	position: fixed;
	left: 0;
	bottom: 0;
	/* size */
	margin: var(--wrapperPadding);
	width: calc(100% - var(--wrapperPadding) * 2);
	/* style */
	text-align: center;
	color: var(--white);
	padding: 1rem 1.5rem;
	background-color: var(--violet);
	border-radius: 2rem;
}

.signup-button:hover {
	background-color: var(--violet2);
	transition: all ease 0.75s;
}

section {
	display: flex;
	align-items: center;
	height: 100vh;
}

.img-section {
	color: var(--white);
}

.section1 {
	background-image: url(../img/image1-1280-colored.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.section2 {
	background-image: url(../img/image2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.section3 {
	background-image: url(../img/image3-1280-colored.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.section4 {
	background-image: url(../img/image4-1280-colored.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

footer {
	background-color: var(--black);
	color: var(--white);
}
